h1{
    padding-top: 35px;
    /* padding-bottom: 10px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Quicksand";
    font-weight: 600;
    font-style:normal;
    font-size: 45px;
}